@model MvcPL.Models.Profile.ProfileViewModel
<div class="panel container panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="user-page-column">
                @{
                    if (Model.Avatar != null)
                    {
                        var base64 = Convert.ToBase64String(Model.Avatar);
                        var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc" alt="Avatar" class="circular"/>
                    }
                    else
                    {
                        @Sprite.Image("~/App_Sprites/avatar.png", new {alt="Avatar", @class="circular", @style="margin-bottom: 7px;"} )
                    }
                }
            </div>
            <div class="user-page-column">
                <h1>@Model.UserName</h1>
                <h4>First Name: @Model.FirstName</h4>
                <h4>Last Name: @Model.LastName</h4>
                <h4>Age: @Model.Age</h4>
            </div>

            <div class="user-page-column" style="margin: 30px 0 0 15px">
                @if (Model.UserName == User.Identity.Name)
                {
                    @Html.ActionLink("Edit Profile", "ProfileEdit", "Profile", null, new {@class = "btn btn-default"})
                }
            </div>
        </div>
    </div>
</div>